<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP</title>
</head>
<body>
    <header>
        <img src="../images/logo.jpg" alt="NLP">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>🌐 Discover the Language of Your Content! 🌐</h2>
            <form id="urlForm">
                <input id="url" type="text" name="url" placeholder="Enter URL" required>
                <button id="submit">Submit</button>
            </form>
        </section>

        <section>
            <h3>Results</h3>
            <div id="results"></div>
        </section>
    </main>
    
    <footer>
        <div class="logo">
            <p>&copy; 2024  |  <a href="https://www.meaningcloud.com/">NLP Team</a></p>
            <img src="../images/logo.jpg" alt="NLP">
        </div>
        <p class="text">Powered by cutting-edge Natural Language Processing (NLP) technology,
        our tools provide deep insights into the language and meaning behind your content.
        Discover the potential of NLP to transform the way you interact with text</p>
        <div class="links">
            <ul>
                <li>Terms of Services</li>
                <li>FAQ</li>
                <li>Support</li>
                <li>Privacy Policy</li>
                <li>Blog</li>
            </ul>
        </div>
        <div class="address">
            <p>123 Innovation Drive, Suite 456</p>
            <p>Tech City, CA 94107</p>
            <p>Email: <a href="#">support@example.com</a></p>
        </div>
    </footer>
    
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
    
</body>
</html>