form {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,80%);
    -webkit-transform: translate(-50%,80%);
    -moz-transform: translate(-50%,80%);
    -ms-transform: translate(-50%,80%);
    -o-transform: translate(-50%,80%);

    input {
        display: block;
        padding: 10px 20px;
        width: 300px;
        margin-bottom: 20px;
        border: 1px solid #37B7C3;
        outline: none;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }

    button {
        display: block;
        padding: 10px 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18px;
        outline: none;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border: 1px solid #545454;
        margin-left: 120px;
        cursor: pointer;
    }
} 